body{
    font-size: 16px;
    line-height: 1.5em;
    font-family: Helvetica, sans-serif;
}

h1 , h2 , h3 , h4 , h5 , h6 {
    font-family: Georgia, serif;
}
table{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

table , td , th{
    border:1px solid black;
}

tr:nth-child(odd) , th:nth-child(odd){
    background: darkgray;
}

blockquote{
    border-left: 5px solid darkgray;
    padding-left: 1em;
    font-style: italic;
    font-weight: 500;
}

blockquote>p:last-child{
    text-align: end;
}